<!--
<ion-header>
  <ion-toolbar>
    <ion-title>delivered-succesfully</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content class="bg_color">
	<div class="container">
		<div class="img_box">
			<img src="assets/imgs/delivery_completed2_img.png">
		</div>
		<h1 class="ion-text-center">
			{{'delivered_successfull' | translate}}<br>
			<small> {{'thank_you_for_deliver_sefely_on_time' | translate}}</small>
		</h1>
		<div class="order_info">
			<!--<ion-row>
				<ion-col size="7" (click)="order_history_info()">
					<h2>{{'you_drived' | translate}}</h2>
					<h3>18 min <span>(6.5 km)</span></h3>
					<h4 >{{'view_order_info' | translate}}</h4>
				</ion-col>
				<ion-col size="5" (click)="wallet()">
					<h2>{{'your_earning' | translate}}</h2>
					<h3>$ 8.50</h3>
					<h4>{{'view_earnings' | translate}}</h4>
				</ion-col>
			</ion-row>-->
		</div>
	</div>
</ion-content>

<ion-footer class="ion-no-border">
	<ion-button size="large" shape="block" class="btn" (click)="tabs()">{{'back_to_home' | translate}}</ion-button>
</ion-footer>