<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{"wallet" | translate}}
		</ion-title>
	</ion-toolbar>

	<div class="banner ion-text-center">
		<p>{{'available_balance' | translate}}</p>
		<h2>$ 69.50</h2>
		<ion-row>
			<ion-col size="6">
				<ion-button size="large" shape="block" class="btn send_to_bank" (click)="bankdatails()">{{'send_to_bank' | translate}}</ion-button>
			</ion-col>
			<ion-col size="6">
				<ion-button size="large" shape="block" class="btn">{{'add_money' | translate}}</ion-button>
			</ion-col>
		</ion-row>
	</div>
</ion-header>

<ion-content fullscreen>
	<ion-list lines="none">
		<h2>{{"recent" | translate}}</h2>
		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212217</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$5.20</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 11:59 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #232313</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>Online</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>


		<ion-item class="spend">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>Sent to Bank</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>-$100.00</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>29 June 2018, 09:12 am</p>
					</ion-col>


					<ion-col class="ion-text-end">
						<p>HSKY Bank of USA</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212224</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212217</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$5.20</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 11:59 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #232313</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>Online</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>


		<ion-item class="spend">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>Sent to Bank</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>-$100.00</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>29 June 2018, 09:12 am</p>
					</ion-col>


					<ion-col class="ion-text-end">
						<p>HSKY Bank of USA</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212224</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212217</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$5.20</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 11:59 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #232313</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>Online</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>


		<ion-item class="spend">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>Sent to Bank</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>-$100.00</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>29 June 2018, 09:12 am</p>
					</ion-col>


					<ion-col class="ion-text-end">
						<p>HSKY Bank of USA</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212224</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212217</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$5.20</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 11:59 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #232313</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>Online</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>


		<ion-item class="spend">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>Sent to Bank</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>-$100.00</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>29 June 2018, 09:12 am</p>
					</ion-col>


					<ion-col class="ion-text-end">
						<p>HSKY Bank of USA</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212224</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212217</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$5.20</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 11:59 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #232313</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>Online</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>


		<ion-item class="spend">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>Sent to Bank</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>-$100.00</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>29 June 2018, 09:12 am</p>
					</ion-col>


					<ion-col class="ion-text-end">
						<p>HSKY Bank of USA</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212224</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212217</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$5.20</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 11:59 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #232313</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>Online</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>


		<ion-item class="spend">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>Sent to Bank</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>-$100.00</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>29 June 2018, 09:12 am</p>
					</ion-col>


					<ion-col class="ion-text-end">
						<p>HSKY Bank of USA</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212224</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212217</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$5.20</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 11:59 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #232313</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>Online</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>


		<ion-item class="spend">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>Sent to Bank</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>-$100.00</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>29 June 2018, 09:12 am</p>
					</ion-col>


					<ion-col class="ion-text-end">
						<p>HSKY Bank of USA</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212224</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212217</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$5.20</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 11:59 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #232313</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>Online</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>


		<ion-item class="spend">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>Sent to Bank</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>-$100.00</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>29 June 2018, 09:12 am</p>
					</ion-col>


					<ion-col class="ion-text-end">
						<p>HSKY Bank of USA</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212224</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212217</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$5.20</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 11:59 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #232313</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>Online</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>


		<ion-item class="spend">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>Sent to Bank</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>-$100.00</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>29 June 2018, 09:12 am</p>
					</ion-col>


					<ion-col class="ion-text-end">
						<p>HSKY Bank of USA</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212224</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212217</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$5.20</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 11:59 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #232313</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>Online</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>


		<ion-item class="spend">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>Sent to Bank</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>-$100.00</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>29 June 2018, 09:12 am</p>
					</ion-col>


					<ion-col class="ion-text-end">
						<p>HSKY Bank of USA</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212224</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212217</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$5.20</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 11:59 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #232313</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>Online</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>


		<ion-item class="spend">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>Sent to Bank</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>-$100.00</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>29 June 2018, 09:12 am</p>
					</ion-col>


					<ion-col class="ion-text-end">
						<p>HSKY Bank of USA</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212224</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212217</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$5.20</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 11:59 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #232313</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>Online</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>


		<ion-item class="spend">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>Sent to Bank</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>-$100.00</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>29 June 2018, 09:12 am</p>
					</ion-col>


					<ion-col class="ion-text-end">
						<p>HSKY Bank of USA</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212224</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212217</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$5.20</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 11:59 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #232313</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>Online</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>


		<ion-item class="spend">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>Sent to Bank</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>-$100.00</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>29 June 2018, 09:12 am</p>
					</ion-col>


					<ion-col class="ion-text-end">
						<p>HSKY Bank of USA</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>

		<ion-item class="add">
			<div class="item_inner">
				<ion-row>
					<ion-col size="7">
						<h3>{{'order' | translate}} #212224</h3>
					</ion-col>

					<ion-col class="ion-text-end">
						<h4>$80.00</h4>
					</ion-col>

					<ion-col class="ion-text-end">
						<h5>$9.50</h5>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="7">
						<p>2 items | 30 June 2018, 10:23 am</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>COD</p>
					</ion-col>

					<ion-col class="ion-text-end">
						<p>{{'earnings' | translate}}</p>
					</ion-col>
				</ion-row>
			</div>
		</ion-item>
	</ion-list>
</ion-content>