<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <h2>{{'verification_code' | translate}} <span>{{'verification_text' | translate}}</span></h2>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
    <div class="form">
        <ion-list lines="none">
            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <ion-input class="ion-text-center" maxlength="1" mode="md" type="name" value="5"></ion-input>
                    <ion-input class="ion-text-center" maxlength="1" mode="md" type="name" value="8"></ion-input>
                    <ion-input class="ion-text-center" maxlength="1" mode="md" type="name" value="8"></ion-input>
                    <ion-input class="ion-text-center" maxlength="1" mode="md" type="name" value="7"></ion-input>
                </div>
            </ion-item>
        </ion-list>
        <ion-button size="large" shape="block" class="btn" (click)="tabs()">{{'vrify_now' | translate}}</ion-button>
        <h2 class="d-flex">0:48 min left <span class="end">{{'resend' | translate}}</span></h2>
    </div>
</ion-content>
